<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tennis_booking_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tennisbookingapp">
        <activity
            android:name=".TruongNL.danhgia.DanhGia"
            android:exported="false" />
        <activity
            android:name=".PhucHLH.ListCourtNear"
            android:exported="false" />
        <activity
            android:name=".PhucHLH.SearchPageActivity"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.SendFeedback"
            android:exported="false" />
        <activity
            android:name=".PhucHLH.SpecificCourtsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".PhucHLH.LoginFacebookGoogleActivity"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.Done"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.sancokm.SancoKM"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.khuyenmai.Promotion"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.SignUpSuccess"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.Register"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.Retrieval"
            android:exported="false" />
        <activity
            android:name=".TruongNL.lichsu.LichSu"
            android:exported="false" />
        <activity
            android:name=".TruongNL.ThanhCong"
            android:exported="false" />
        <activity
            android:name=".TruongNL.DangXuat"
            android:exported="false" />
        <activity
            android:name=".TruongNL.HuySan"
            android:exported="false" />
        <activity
            android:name=".TruongNL.ChucMung"
            android:exported="false" />
        <activity
            android:name=".TruongNL.ConfirmBooking"
            android:exported="false" />

        <activity
            android:name=".TruongNL.datsan.Booking"
            android:exported="false" />
        <activity
            android:name=".ThinhLTD.StartsActivity"
            android:exported="false" />
        <activity
            android:name=".PhucHLH.ReadyLogin"
            android:exported="false" />
        <activity
            android:name=".PhucHLH.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>